node_modules
.pnpm-store
.next
expo
.expo
.env
.env.local
.env.*.local
.env.*.example
.env.*.dev
.env.*.prod
.DS_Store
coverage
dist
apps/web/nul


# Playwright
test-results/
playwright-report/
playwright/.cache/
*.png-snapshots/
